.app {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 16px 20px;
  gap: 16px;
}

@media (max-width: 900px) {
  .app {
    flex-direction: column;
  }
}
